*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs/mkfs
kernel/kernel
user/usys.S
.gdbinit
*.zip
xv6.out*
.vagrant/
submissions/
ph
barrier
/lab-*.json
.DS_Store
*.dSYM
*.pcap
TAGS

fs.img*

# xv6 build outputs
*.o
*.d
*.asm
*.sym
*.img
*.bk
kernel/kernel
user/_*
mkfs/mkfs

# QEMU / logs / misc
qemu.log
*.out

# Python cache
__pycache__/
*.pyc

# Editor/IDE
.dir-locals.el
.vscode/
.idea/
